The textual interface with the user is done through the **console**, and we already met the `print()` function for printing data to the console. In this chapter we will learn about receiving input with the `input()` function and formatting output with the `format()` string method (or the equivalent f-string).

In [ ]:
print('Hello!')

# The `input()` function

The function `input([prompt])` allows the user to type data in the console, so that the program reads it. This is executed in three steps:

* The string `prompt` is presented to the user
* The program waits until the Enter key is pressed
* The user's input is returned by the function **as a string**

In [ ]:
my_number = input()

In [ ]:
print(my_number)

In [ ]:
name = input("Please enter your name:")
print("Hi,", name)

In [ ]:
answer = input("Would you like to continue? (Y\\N)\n")
if answer == "Y" or answer == "N":
    print("Your answer was", answer)
else:
    print("not valid answer")

In [ ]:
age = input("What is your age?\n")
if age.isnumeric():
    print("You are", int(age), "years old.")
else:
    print("No jokes please")

In [ ]:
num1 = input('Please provide first number:')
num2 = input('Please provide second number:')
print(float(num1) + float(num2))

> **Your turn:**

- Write a script that asks the user for his name and prints "Hello ____" with the name.
- Write a script that asks the user for two numbers and prints their sum.
- Write a script that asks the user for number, and prints "Low" if the number if lower than 50, or "High" if the number is higher than 50.
- Write a script that asks the user 5 times for number and prints their average (use a for loop).

### Grand example (guess the number)

In [ ]:
import random

guess_number = random.randint(1, 100)
user_answer = -1
tries_counter = 0

while user_answer != guess_number:

    user_answer = input("Your guess?")

    if not user_answer.isnumeric():
        print("Not a valid number. Please try again.")
        continue

    user_answer = int(user_answer)

    if user_answer < 1 or user_answer > 100:
        print("Number should be between 1 and 100. Please try again.")
        continue

    if user_answer > guess_number:
        print("You guees is too high.")
    elif user_answer < guess_number:
        print("Your guess is too low.")

    tries_counter += 1

print(f"Correct! It took you {tries_counter} tries to guess the number.")

# String formatting - *format()*

_format()_ is a **string method** that makes is easy to edit text with the help of "replacement fields" surrounded by curly braces. Let's see a simple example that demonstrates the use of _format()_ and then discuss some details.

In [1]:
num1, num2 = 1.23456, 2.34567
prod = num1 * num2

In [2]:
print (num1, '*', num2, '=', prod)

1.23456 * 2.34567 = 2.8958703552000005

One advantage of _format()_ is the intuitive insertion of variables within the sentence.

In [3]:
TEMPLATE = "The expression {} * {} equals to {}"   # "{} * {} = {}\n"

In [4]:
TEMPLATE.format(num1, num2, prod)

'The expression 1.23456 * 2.34567 equals to 2.8958703552000005'

In [5]:
print ("The expression {} * {} equals to {}\n".format(num1, num2, prod))

The expression 1.23456 * 2.34567 equals to 2.8958703552000005

In [6]:
print ("{}\t*{}\t={}".format(num1, num2, prod))

1.23456	*2.34567	=2.8958703552000005

In [7]:
print ("{}*{}={}\n".format(num1, num2, prod))
print ("The expression {} * {} equals to {}\n".format(num1, num2, prod))
print ("{}\t*\n{}\t=\n{}".format(num1, num2, prod))

1.23456*2.34567=2.8958703552000005

The expression 1.23456 * 2.34567 equals to 2.8958703552000005

1.23456	*
2.34567	=
2.8958703552000005

Another advantage of _format()_ is the accuracy of float numbers.

In [8]:
print ("{:.2f} * {:.2f} = {:.2f}".format(num1, num2, prod))

1.23 * 2.35 = 2.90

In [9]:
print ("{} * {} = {:.3f}".format(num1, num2, prod))
print ("{:.3f} * {:.3f} = {:.4f}".format(num1, num2, prod))

1.23456 * 2.34567 = 2.896
1.235 * 2.346 = 2.8959

In [10]:
basic_arithmatics = "{} * {} = {:.3f}".format(num1, num2, prod)

In [11]:
basic_arithmatics

'1.23456 * 2.34567 = 2.896'

### Example

Create a dictionary with elements of the form {_name: (birth, death)_} (_death_ is _None_ if the the dude is alive), and for each element in the dictionary write the sentence "_name_ was born in _birth_ and died on _death_" (or "is still alive").

In [12]:
band = {
    'John': (1940, 1980),
    'Paul': (1942, None),
    'George': (1943, 2001),
    'Ringo': (1940, None)
}

In [13]:
print(band.items())

dict_items([('John', (1940, 1980)), ('Paul', (1942, None)), ('George', (1943, 2001)), ('Ringo', (1940, None))])

In [14]:
NAME = ""

In [15]:
for player, years_tup in band.items():
    # print("player = ", player, " years_tup = ", years_tup)
    birth, death = years_tup
    if death:   # != None:
        print ("{} was born in {} and died in {}.".format(player, birth, death))
    else:
        print ("{} was born in {} and he is still alive.".format(player, birth))

John was born in 1940 and died in 1980.
Paul was born in 1942 and he is still alive.
George was born in 1943 and died in 2001.
Ringo was born in 1940 and he is still alive.

> **Your turn:**
1. Write a script that asks the user for his name, last name, age and print "My name is \<first name\> \<last name\> and my age is \<age\>." (use .format)
2. Ask the user to enter two words, find the number of common letters between the words (excluding repetitions), and print the sentence "The words \<word1\> and \<word2\> have \_\_\_ common letters".

#### solution

In [ ]:
a = input('write a word:')
b = input('write another word:')

count = 0
a_set = set(a.lower())
b_set = set(b.lower())

for letter in a_set:
    if letter in b_set:
        count += 1

print("The words {} and {} have {} common letters".format(a, b, count))

## String formatting - f-string

F-strings were introduced in Python 3.6. Unlike *.format*, they allow for any Python expression to be written within the curely braces. The expression is evaluated at runtime, and its value is put in place of the braces.

In [16]:
name = 'Fred'
age = 42

In [17]:
'He said his name was {} and he was {} years old.'.format(name, age)

'He said his name was Fred and he was 42 years old.'

In [18]:
f'He said his name was {name} and he was {age} years old. In ten years, his age will be {age+10}'

'He said his name was Fred and he was 42 years old. In ten years, his age will be 52'

In [19]:
f"{name}'s name is {len(name)} characters long."

"Fred's name is 4 characters long."

In [25]:
some_text = f"{first_name}'s name is {len(first_name)} characters long."

NameError: name 'first_name' is not defined

In [ ]:
print ('He said his name is {n} and he is {a} years old. {a} {a}'.format(a=age, n=name))

### Formatting specifications

The _format()_ method has a wide range details and use-cases (all documented [here][format documentation]), but we will focus our attention on a single aspect called "format specifications". Format specifications are used within replacement fields contained within a format string to define how individual values are presented. The full description of optional specifications are documented under the section [Format Specification Mini-Language][specification documentation] of the string methods documentation, but its main features are listed and demonstrated below.

The specifications are always preceded by a colon (:), and their general form is **\[\[fill\]align\]\[sign\]\[#\]\[0\]\[width\]\[,\]\[.precision\]\[type\]**. Adhering to this general form guarantees consistency and no ambiguity. This is a short explanation of the most useful parts:

* _align_ - left (<), right (\>) or center (^) alignment of the text
* _width_ - decimal integer defining the minimum field width. If not specified, then the field width will be determined by the content.
* _precision_ - decimal number indicating how many digits should be displayed after the decimal point.
* _type_ - determines how the data should be presented
    * _'s'_ - (default) string
    * _'f', 'b', 'd', 'o', 'x'_ - float, binary, decimal, octal or hexagonal numeric representation
    * _'e'_ - exponential form
    * _'%'_ - percentage


[format documentation]: https://docs.python.org/3/library/string.html#format-string-syntax "format() Python documentation"
[specification documentation]: https://docs.python.org/3/library/string.html#format-specification-mini-language "Format Specification Mini-Language"

In [27]:
greeting = "Welcome Home!"

In [28]:
"~~~~~ {:^30s} ~~~~~".format(greeting)

'~~~~~         Welcome Home!          ~~~~~'

In [29]:
f"~~~~~ {greeting:^30s} ~~~~~"

'~~~~~         Welcome Home!          ~~~~~'

In [30]:
"~~~~~ {:>30s} ~~~~~".format("ברוכים הבאים")

'~~~~~                   ברוכים הבאים ~~~~~'

In [34]:
print("|{:>5d}|".format(123))
print("|{:>5d}|".format(41235))
print("|{:>5d}|".format(9941237)) # right data prior to format!

|  123|
|41235|
|9941237|

In [35]:
print("|{:>5X}|".format(123))

|   7B|

In [37]:
print("|{:>5.1%}|".format(1.3))

|130.0%|

In [38]:
f"PI = {22/7:5.3f}"

'PI = 3.143'

In [39]:
print("{:%}".format(0.5))

50.000000%

In [40]:
print("{:f}".format(50))
print("{:b}".format(50))
print("{:d}".format(50))
print("{:.1f}".format(50))
print("{:.1%}".format(0.5))
print("{:<5} {:<5}".format(50,60))

50.000000
110010
50
50.0
50.0%
50    60

### Example 1

Print the multiplication table.

#### Without formatting

In [41]:
n = 10
for i in range(1, n+1):
    row = ""
    for j in range(1, n+1):
        row = row + " " + str(i*j)
    print (row)

 1 2 3 4 5 6 7 8 9 10
 2 4 6 8 10 12 14 16 18 20
 3 6 9 12 15 18 21 24 27 30
 4 8 12 16 20 24 28 32 36 40
 5 10 15 20 25 30 35 40 45 50
 6 12 18 24 30 36 42 48 54 60
 7 14 21 28 35 42 49 56 63 70
 8 16 24 32 40 48 56 64 72 80
 9 18 27 36 45 54 63 72 81 90
 10 20 30 40 50 60 70 80 90 100

#### With formatting

In [42]:
n = 10
for i in range(1, n+1):
    row = ''
    for j in range(1, n+1):
        row = row + f'{i*j:>4d}'
    print (row)

   1   2   3   4   5   6   7   8   9  10
   2   4   6   8  10  12  14  16  18  20
   3   6   9  12  15  18  21  24  27  30
   4   8  12  16  20  24  28  32  36  40
   5  10  15  20  25  30  35  40  45  50
   6  12  18  24  30  36  42  48  54  60
   7  14  21  28  35  42  49  56  63  70
   8  16  24  32  40  48  56  64  72  80
   9  18  27  36  45  54  63  72  81  90
  10  20  30  40  50  60  70  80  90 100

## Example 2

Print the number PI with 2, and 4 digits after the decimal point.<br/>
Compare your results to the digists of PI below. Notice anything?

In [ ]:
pi = 3.141592653589793238

### Solution

In [ ]:
print("{:.2f}".format(pi))
print("{:.4f}".format(pi))

# Exercises

## Exercise 1 <--- Homework 11/7/2024

Write a script that asks the user for 3 numbers, use f-string to print the average of the numbers with 3 digits after the decimal point (do the calculation within the f-string).

In [27]:
num_1 = 13
num_2 = 100
num_3 = 72
print(f"The avearage of {num_1}, {num_2} and {num_3} is {(num_1+num_2+num_3)/3:3.3f}")

The avearage of 13, 100 and 72 is 61.667

### Solution

In [ ]:
num1 = input("Enter number 1: ") # input always returns string
num2 = input("Enter number 2: ")
num3 = input("Enter number 3: ")

print(f"{(float(num1) + float(num2) + float(num3)) / 3:.3f}")

## Exercise 2 <--- Homework 11/7/2024

Given the list of lists below, in which each of the inner-lists represents car data, write code which display the data in a nicely aligned tabular format.<br/>
- Maker and model should be centered.
- Other text fields shhould be aligned to the left.
- Numbers should be aligned to the right.<br>
For example:
<pre>
|11-345-89  |    Toyota     |     Yaris     |    151372|    356222652|
|22-651-91  |     Ford      |     Focus     |     95012|    253987454|
|33-496-75  |     Mazda     |       3       |      5700|    249827458|
</pre>

In [28]:
# run this cell

cars = [
    # plate #   , maker   , model    year, KMs,    owner's ID
    ["11-345-89", "Toyota", "Yaris", 2011, 151372, 356222652],
    ["22-651-91", "Ford", "Focus", 2016, 95012, 253987454],
    ["33-496-75", "Mazda", "3", 2022, 5700, 249827458],
]

In [30]:
for car in cars:
    print(f"|{car[0]:<12s}|{car[1]:^12s}|{car[2]:^12s}|{car[4]:>12d}|{car[5]:>12d}|")

|11-345-89   |   Toyota   |   Yaris    |      151372|   356222652|
|22-651-91   |    Ford    |   Focus    |       95012|   253987454|
|33-496-75   |   Mazda    |     3      |        5700|   249827458|

### Solution

In [ ]:
print(f'|{"license_pl":^11s}|{"maker":^15s}|{"model":^15s}|{"kms":^10s}|{"owner":^13s}|')
print("-"*(64 + 6))

for license_plate, maker, model, year, kms, owner in cars:
   line = f"|{license_plate:11s}|{maker:^15s}|{model:^15s}|{kms:10d}|{owner:13d}|"
   print(line)