# Introduction

A function is a block of organized, reusable code. Functions provide better modularity for your application and a high degree of code reusing. In addition, they also make your code more readable, as they keep the **main code** simple by assigning tasks to auxiliary funtions.

We already know many of Python's built-in functions like _input()_, _max()_, _float()_, etc., and in this chapter we will learn how to create our own functions. These functions are called **user-defined functions**.

A function receives **input arguments** and **returns** some **output** based on them. Both the input and the output can in general contain zero arguments, for example the function _print_ returns no argument, and the list method _pop()_ may be called without an input argument (for this chapter we will not distinguish between functions and methods). The terminology for using a function is to _call_ it.

Every function definition starts with a **signature**, containing the prefix **def** followed by the name of the function and parentheses, in which the input arguments are listed. Then, following a colon and an indentation, the function **block** is written, possibly containing a **return** statement(s).

The following function adds the input arguments `x` and `y` and return their sum.

In [ ]:
def add_items(x, y):
    total = x + y
    return total

Now the function `add_items()` can be called during the execution of the main code.

In [ ]:
a = 3
b = 5

c = add_items(a, b)

print(c)

8

We note that since Python is a dynamic language, which does not require pre-assignment of data types, the input of `add_items()` may be of any type, as long as the `+` sign is appropriate.

In [ ]:
a = 'inter'
b = 'national'

c = add_items(a, b)

print(c)

international

> **Note:** In the example above the main code has variables `a` and `b`, while the function renames them **locally** as `x` and `y`. Understanding the relationship between the outer variables and their local counterparts is quiet complicated and we will not cover it here. However, we should remember that if the variables are **mutable**, then changing the local variables makes the change in the outer variables.

### Examples

Write a function which prints the string "hello".

In [ ]:
def print_hello():
  print("hello")

In [ ]:
print_hello()

hello

In [ ]:
def get_current_time():
  ...
  return current_time

Write a function which accepts a number as input, and prints the number raised by the power of 2.

In [ ]:
def power_of_2(num1):
  print(num1**2)

Write a function which accepts a list of strings as input and returns the longest string in the list as output.

In [ ]:
def get_longest_word(words_list):

    longest_word = ''

    for word in words_list:
        if len(word) > len(longest_word):
            longest_word = word

    return longest_word

In [ ]:
some_words = ["Home", "Encyclopedia", "War", "Peace", "Wheels"]

get_longest_word(some_words)

'Encyclopedia'

> **Your turn:**

1. Write a function called 'print_my_name(name, last_name)', which prints the sentence "My first name is ___ and my last name is ____"
2. Write a function called 'multiplication(a, b)' which prints the multiplication of a and b.
3. Write a function called `sum_of_numbers(numbers_list)` which prints the sum of the numbers of list `numbers_list`.

In [ ]:
# 1. Write a function called 'print_my_name(name, last_name)', which prints the sentence "My first name is _ and my last name is __"

def print_my_name(name, last_name):
  print('My first name is', name, 'and my last name is', last_name)
  return

print_my_name('Rina', 'Raf')

My first name is Rina and my last name is Raf

In [ ]:
# 2. Write a function called 'multiplication(a, b)' which prints the multiplication of a and b.
def multiplication(a, b):
  mult_result = a*b
  return mult_result

multiplication(10, 9)

90

In [ ]:
# 3. Write a function called sum_of_numbers(numbers_list) which prints the sum of the numbers of list numbers_list.
numbers_list = [1, 2, 3, 4]
def sum_of_numbers(numbers_list):
  sum_of_numbers = 0
  for num in numbers_list:
    sum_of_numbers += num
  return sum_of_numbers

sum_of_numbers(numbers_list)

10

### Solution

In [ ]:
# 1.
def print_my_name(first_name, last_name):
  # line = f"My first name is {first_name.lower().capitalize()} and my last name is {last_name.lower().title()}."
  line = "My first name is " + first_name.lower().capitalize() + " and my last name is " + last_name.lower().capitalize() + "."
  print(line)

In [ ]:
print_my_name("daVID", "eZra")

My first name is David and my last name is Ezra.

In [ ]:
# 2.
def multiplication(a, b):
  product = a * b
  return product

In [ ]:
multiplication(10, 27)

270

In [ ]:
# 3.
def sum_of_numbers(numbers_list):

    total = 0

    for num in numbers_list:
        total = total + num

    return total

In [ ]:
my_numbers_list = [1, 2, 3, 4]
sum_of_numbers(my_numbers_list)

10

## The `return` statement

The **`return`** statement can return more than a single value by separating the output values with commas. However, the entire output is considered a single _tuple_, and may be unpacked by the caller.

The `return` statement aborts the function instantly (similar to `break`). This allows the coexistence of several `return` statements in a single function.

In [ ]:
var = None

In [ ]:
def just_do_it(x, y):
  print("I was here", x, y)
  # return

In [ ]:
value = just_do_it(3, 4)

I was here 3 4

In [ ]:
print(value)

None

In [ ]:
def count_the_vowels(sentence):

    # Count the vowels
    num_of_vowels = 0
    for ch in sentence:
        if ch in 'aeiou':
          num_of_vowels = num_of_vowels + 1

    if num_of_vowels < 13:
        return "not many"
    if num_of_vowels > 13:
        return "many"

In [ ]:
truth = "The return"  # statement may appear more than once in a single function."
# print(f"There are {count_the_vowels(truth)} vowels in the sentence.")

In [ ]:
count_the_vowels(truth)

'not many'

A function cannot returns anything, so even if the _return_ statement was not encountered during execution, a _None_ is returned.

In [ ]:
print(count_the_vowels("There are exactly 13 vowels in this sentence!"))

None

### Multiple return values

In [ ]:
def just_do_it(x, y):
  return x+y, x-y, x*y, x/y

In [ ]:
just_do_it(10, 2)

(12, 8, 20, 5.0)

In [ ]:
sum_, diff, prod, div = just_do_it(10, 2)

In [ ]:
print(sum_, diff, prod, div)

12 8 20 5.0

Functions can be, and very often are, **chained**, namely call to one another. This allows the separation of large functionalities into smaller and smaller bits.

### Example

* Write a function, *is_prime* which receives an integer and returns a Boolean indicating whether the integer is a prime number.
* Write a function, *primes_in_range* which takes a start number and an end number and prints all the prime numbers in between. Make sure to use *is_prime*.

In [ ]:
# Write a function, is_prime which receives an integer and returns a Boolean indicating whether the integer is a prime number.
def is_prime(n):
      '''
      Special Case for 1:
      This line checks if n is equal to 1. If n is 1, the function returns False immediately because 1 is not considered a prime number.
      '''
    if n == 1:
      return False
      '''
      We only need to check up to the square root of n
      because if n is divisible by any number greater than its square root,
      it will also be divisible by a smaller number.
      This optimization reduces the number of checks needed.
      '''
    for k in range(2, int(n**0.5)+1):
        if n % k == 0:
            return False
    return True

In [ ]:
is_prime(1)

False

In [ ]:
is_prime(17)

True

In [ ]:
# Write a function, primes_in_range which takes a start number and an end number and prints all the prime numbers in between. Make sure to use is_prime.
def primes_in_range(from_num, to_num):
    for num in range(from_num, to_num+1):
        if is_prime(num):
            print(num)

In [ ]:
primes_in_range(20, 40)

23
29
31
37

> **Practice... Practice... Practice... Practice... Practice... Practice...**

> **Your turn:**

1. Write a function called 'max_number(a, b, c)' which returns the highest number between a, b and c.
2. Write a function called 'longest_name(name_1, name_2, name_3)' which returns the longest name.

In [ ]:
# 1. Write a function called 'max_number(a, b, c)' which returns the highest number between a, b and c.
def max_number(a, b, c):
  max_number = a
  for num in (b,c):
    if num > max_number:
      max_number = num
  return max_number

max_number(74, 5, 90)

90

In [ ]:
# 2. Write a function called 'longest_name(name_1, name_2, name_3)' which returns the longest name.
def longest_name(name_1, name_2, name_3):
  longest_name = name_1
  for name in (name_2, name_3):
    if len(name) > len(longest_name):
      longest_name = name
  return longest_name

longest_name('orange', 'samsung', 'international')

'international'

#### Solution

In [ ]:
def max_number(a, b, c):
  highest = a
  for num in (b, c):
    if num > highest:
      highest = num
  return highest

In [ ]:
def max_number_2(a, b, c):

  highest = a
  if b > highest:
    highest = b
  if c > highest:
    highest = c

  return highest

In [ ]:
max_number_2(230, 91, 1900)

1900

In [ ]:
def longest_name(name_1, name_2, name_3):

  longest = name_1

  if len(name_2) > len(longest):
    longest = name_2
  if len(name_3) > len(longest):
    longest = name_3

  return longest

In [ ]:
longest_name("Zurbavel", "Dan", "Galit")

'Zurbavel'

# Arguments

When a function is called, it expects to be given a value for **all** it's arguments. If a function takes 2 arguments, it is not possible to call it providing only a single argument.

## Default values

When defining a function, it is possible to give default values to its arguments, so that if the caller does not specify them, the function will use the default values.

**IMPORTANT:** Arguments with default values must always come *after* arguments with no default values.

In [ ]:
def greet(salutation, name="You"):
  print("Hello", salutation, name, "!")

In [ ]:
greet("Mrs.", "Kaningham")

Hello Mrs. Kaningham !

In [ ]:
greet("Mrs.")

Hello Mrs. You !

In [2]:
# checking arguments in function
import pandas as pd
pd.read_csv?

### Example

The function `show_summary(lst, n_start, n_stop)` prints the first `n_start` and last `n_end` elements of `lst`. If the user does not specify how many elements he would like to see, then a defaul of three at each end is applied.

In [ ]:
import pandas as pd

In [3]:
def show_summary(lst, n_start=3, n_end=3):

    if len(lst) < n_start + n_end:
        print(lst)
    else:
        print("[", end=' ')
        for i in range(n_start):
            print(lst[i], end=' ')
        print('...', end=' ')
        for i in reversed(list(range(n_end))):
            print(lst[-i-1], end=' ')
        print("]")

In [4]:
my_list = ['a', 'b', 'c', 'd', 'e', 1, 2, 3, 4, 5]

In [5]:
# show_summary(my_list)
# show_summary(my_list, 4, 2)
# show_summary(my_list, 5)
# show_summary(my_list, n_end=5)

[ a b c ... 3 4 5 ]

### [optional] Positional Arguments vs. Keyword Arguments

In [ ]:
def division(x, divisor=1):
  return x / divisor

In [ ]:
division(10, 2)

In [ ]:
division(x=100, divisor=33)

In [ ]:
division(divisor=33, x=100)

In [ ]:
division(100, divisor=33) # positional arguments follows keyword arguments

In [ ]:
division(divisor=33, 100) # error

In [ ]:
division(x=100)

In [ ]:
show_summary(lst=my_list, n_end=4)

In [ ]:
show_summary(n_start=2, lst=my_list, n_end=4)

In [ ]:
# Mixing the two argument passing methods
show_summary(my_list, n_end=1, n_start=5)

>**Your Turn**<br/>
>Write a function, which takes 2 numbers and an opertor (+, -, \*, /) and returns the result of applying the operator on the two numners. The defult value for the operator should be '+'. If an unsupperted / unrecognized operator is specified, return *None*.

In [13]:
def calculate(number_1,number_2, operator = "+"):
    if operator == '+':
        return number_1 + number_2
    elif operator == '-':
        return number_1 - number_2
    elif operator == '*':
        return number_1 * number_2
    elif operator == '/':
        return number_1 / number_2

    return

calculate(10, 5, "+")

15

In [ ]:
expression = f

### Solution

In [ ]:
def calculate(number_1, number_2, operator="+"):

    # if operator not in "+-*/":
    #   return

    if operator == '+':
        return number_1 + number_2
    elif operator == '-':
        return number_1 - number_2
    elif operator == '*':
        return number_1 * number_2
    elif operator == '/':
        return number_1 / number_2

    return

> **Reference:** Python supports a very powerful system of [parameters](https://docs.python.org/3/glossary.html#term-parameter) through \*args and \*\*kwargs. This is not covered here, but should be explained shortly. Extra information can be found in this [nice article from Real Python](https://realpython.com/python-kwargs-and-args/).

# Built-in functions

Python includes many function as part of its core capabilities. Their implementation is very efficient, so it is highly advisable to use them when possible. The entire list of built-in functions is documented [here](https://docs.python.org/3.7/library/functions.html), but here are some examples:

* **General utiliy**:  _map()_, _zip()_, _sorted()_, _all()_, _any()_, _enumerate()_, _filter()_, etc.
* **Conversion**: _int()_, _str()_, _list()_, _dict()_, _unicode()_, etc.
* **Math**: _abs()_, _min()_, _max()_, _sum()_, etc.
* **Object-Oriented**: _isinstance()_, _hasattr()_, _delattr()_, _classmethod()_, etc.

In this chappter we will discuss the general utility functions mentioned.

## `sorted(iterable, key, reverse)`

The function [`sorted(iterable, key, reverse)`][sorted] returns a list with the elements of _iterable_ sorted by the key defined by the _key_ function and displayed in reverse order if the Boolean `reverse` is `True`.


[sorted]: https://docs.python.org/3.7/library/functions.html#sorted "sorted() documentation"

In [16]:
numbers = [12, 91, 25, 231, 954, 72]
sorted(numbers)

[12, 25, 72, 91, 231, 954]

In [17]:
sorted(numbers, reverse = True)

[954, 231, 91, 72, 25, 12]

#### Lexicographic order

If _key_ is not defined, then the standard lexicographic order is applied. The _reverse_ argument specifies whether the items should be displayed in reverse order.

In [ ]:
names = ["Roni", "Rami", "David", "Dafna", "Oz", "Gad", "Zurbavel", "Gideon"]

In [ ]:
sorted(names)

If the elements of _iterable_ are iterables themselves, then the lexicographic order will be applied to their first element, then to their second, and so on.

#### By *key*

In [18]:
#           4       4       5        5      2      3        8           6
names = ["Roni", "Rami", "David", "Dafna", "Oz", "Gad", "Zurbavel", "Gideon"]

In [20]:
sorted(names)

['Dafna', 'David', 'Gad', 'Gideon', 'Oz', 'Rami', 'Roni', 'Zurbavel']

In [19]:
sorted(names, key=len)

['Oz', 'Gad', 'Roni', 'Rami', 'David', 'Dafna', 'Gideon', 'Zurbavel']

In [21]:
# selecting last letter as critereia
def criteria_1(name):
  return name[-1]

In [22]:
sorted(names, key=criteria_1)

['Dafna', 'David', 'Gad', 'Roni', 'Rami', 'Zurbavel', 'Gideon', 'Oz']

In [24]:
def criteria_2(x):
  return len(x), x

In [25]:
sorted(names, key=criteria_2)

['Oz', 'Gad', 'Rami', 'Roni', 'Dafna', 'David', 'Gideon', 'Zurbavel']

#### In-place

In [ ]:
names.sort() # less memory usage

In [ ]:
names

In [ ]:
result_set = [
    ['Alon', 32, 1.78],
    ['David', 49, 1.82],
    ['David', 49, 1.82]
]

In [ ]:
def criteria_3(row):

## [optional] `all(iterable)` and `any(iterable)`

The function [`all(iterable)`][all] returns `True` if all the elements of `iterable` are `True`, and the function [`any(iterable)`][any] returns `True` if any of the elements of `iterable` is `True`.


[all]: https://docs.python.org/2/library/functions.html#all "all() documentation"
[any]: https://docs.python.org/2/library/functions.html#any "any() documentation"

In [ ]:
all([True, True, True, False, True, True])

In [ ]:
any([True, True, True, False, True, True])

In [ ]:
all([123, True, "Meow!", {"aaa": 111}, None, 13.6635, [1, 2, 3]])

## [optional] `enumerate(iterable, start)`

The function [`enumerate(iterable, start)`][enumerate] generates a list of tuples of the form `(i, element)`, where `i` is the index of the element `element` within `iterable`, starting to count from `start`, which equals 0 by default.

the following two scripts demonstrate the (minor) advantage of using `enumerate()`.

[enumerate]: https://docs.python.org/3.7/library/functions.html#enumerate "enumerate() documentation"

In [ ]:
first_names = ["Avi", "Gadi", "Adel", "Sima", "Harel"]
last_names = ["Cohen", "Grinberg", "Atia", "Simchon", "Hanover"]

In [ ]:
index = 0
for first_name in first_names:
  print("First Name:", first_name, "Last Name:", last_names[index])
  index = index + 1

In [ ]:
for index, first_name in enumerate(first_names):
  print("First Name:", first_name, "Last Name:", last_names[index])

In [ ]:
list(
    enumerate(first_names)
)

In [ ]:
students = {'Andy': ('m', 51), 'Brad': ('m', 34), 'Craig': ('m', 25), 'Dan': ('m', 36),
            'Elaine': ('f', 36), 'Fiona': ('f', 36), 'George': ('m', 41), 'Herbert': ('m', 23),
            'Isabel': ('f', 27), 'Jerry': ('m', 19), 'Kramer': ('m', 42), 'Lena': ('f', 22)}

In [ ]:
for counter, (name, (gen, age)) in enumerate(students.items(), 1):
    gender = 'male' if gen == 'm' else 'female'
    print("{:2}: {:7} is a {}-year old {}".format(counter, name, age, gender))

It is adventagous to use _enumerate()_ when you have something to do with the index of the item, e.g. call another object.

## [optional] Zip

In [ ]:
first_names = ["Avi", "Gadi", "Adel", "Sima", "Harel"]
last_names = ["Cohen", "Grinberg", "Atia", "Simchon", "Hanover"]

In [ ]:
for first_name, last_name in zip(first_names, last_names):
  print("First Name:", first_name, "Last Name:", last_name)

In [ ]:
list(
    zip(first_names, last_names)
)